* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

.header {
    width: 100%;
    height: 80px;
    padding: 0 15%;
    background-color: #fff8f5;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-logo {
    padding: 3px;
}

.menu-content {
    width: 50%;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #1d2547;
    font-weight: 600;
}

li {
    padding: 29px 15px;
    cursor: pointer;
}

ul {
    display: inline-flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.menu-hover .dropdown-content {
    display: none;
    position: absolute;
    border-bottom: 2px solid #f86011;
    background-color: #f9f9f9;
    border-radius: 5%;
    min-width: 160px;
    height: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;

}

.menu-hover:hover .dropdown-content {
    margin-top: 30px;
    display: block;
    cursor: pointer;
}

.dropdown-content p {
    padding-bottom: 10px;
}

.dropdown-content p:hover {
    color: #f86011;

}

.icons {
    margin-left: 7px;
    display: inline-flex;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    justify-content: center;
    align-items: center;
    color: #f86011;
}

.icons:hover {
    background-color: #f86011;
    color: white;
}

.menu-hover::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #f86011;
    transition: width .3s;
}

.menu-hover:hover::after {
    width: 100%;
    color: #f86011;

}

.menu-content div {
    display: block;
}

.container1 {
    display: flex;
    width: 100%;
    height: 860px;
    background-color: #fff8f5;
}

.container1-left {
    background-image: url(/images/index.png);
    background-position: 100px 150px;
    background-repeat: no-repeat;
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;

}

.container1-left-content h1 {
    font-size: 4rem;
    padding-bottom: 30px;

}

.container1-left-content p {
    padding-bottom: 60px;
}

.container1-left-content a {
    padding: 16px 40px;
    background-image: linear-gradient(to left, #f86011, #e2560b, #f86011);
    color: white;
    text-decoration: none;
}

.container1-left-content {
    position: relative;
    width: 50%;
}

.container1-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    padding: 0 30px;
    overflow: hidden;
    background-image: url(/images/container1_image.webp);
}

.container1-right .arrow-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #f86011;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #f9f9f9bf;
}

.rating-point {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    align-self: flex-end;
    margin-bottom: 20px;
}

.rating {
    font-size: 2.5rem;
    font-weight: 700;
    border-right: 1px solid darkgray;
    padding: 12px;
    margin-right: 10px;
}

.rating-discription {
    display: inline-flexbox;

}

.rating-discription .star {
    color: #f86011;
}

.sticky-nav-div {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 30px;
    right: 50px;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 1px solid #f86011;
    background-color: #f86011;
    color: white;
    cursor: pointer;

}

.container2 {
    background-image: url(/images/index.png);
    display: flex;
    background-repeat: no-repeat;
    justify-content: center;
    width: 99vw;
    padding: 100px 0;
}

.about-content {
    display: flex;
}

.about-text {
    margin-left: 50px;
    width: 400px;
    padding: 0 25px;
}

.about-text h3 {
    color: #f86011;
    padding: 30px 0;
    font-size: 1.5rem;
}

.about-text h1 {
    color: #072366;

}

.about-text p {
    line-height: 35px;
    color: rgb(37, 36, 36);
    padding: 40px 0;
}

.about-btn {
    width: 120px;
    height: 50px;
    background-color: white;
    text-decoration: none;
    color: #f86011;
    font-size: 1.2rem;
}